@font-face {
   font-family: "Panton";
   src: url("../fonts/Panton-Light/Panton-Light.eot");
   src: url("../fonts/Panton-Light/Panton-Light.eot?#iefix")
         format("embedded-opentype"),
      url("../fonts/Panton-Light/Panton-Light.woff") format("woff"),
      url("../fonts/Panton-Light/Panton-Light.ttf") format("truetype");
   font-weight: 300;
   font-style: normal;
}
@font-face {
   font-family: "Panton";
   src: url("../fonts/Panton-Regular/Panton-Regular.eot");
   src: url("../fonts/Panton-Regular/Panton-Regular.eot?#iefix")
         format("embedded-opentype"),
      url("../fonts/Panton-Regular/Panton-Regular.woff") format("woff"),
      url("../fonts/Panton-Regular/Panton-Regular.ttf") format("truetype");
   font-weight: 400;
   font-style: normal;
}
@font-face {
   font-family: "Panton";
   src: url("../fonts/Panton-Bold/Panton-Bold.eot");
   src: url("../fonts/Panton-Bold/Panton-Bold.eot?#iefix")
         format("embedded-opentype"),
      url("../fonts/Panton-Bold/Panton-Bold.woff") format("woff"),
      url("../fonts/Panton-Bold/Panton-Bold.ttf") format("truetype");
   font-weight: 700;
   font-style: normal;
}

* {
   box-sizing: border-box;
}

body {
   font-family: "Arial", sans-serif;
   color: #fff;
   font-weight: 400;
   font-style: normal;
   line-height: normal;
   font-size: 24px;
   margin: 0;
   padding: 0;
}

body.lock {
   overflow: hidden;
   height: 100vh;
}

ul {
   list-style: none;
   margin: 0;
   padding: 0;
}

a {
   text-decoration: none;
}

h1,
h2,
h3,
h4,
h5 {
   margin: 0;
}

.main {
   overflow-x: hidden;
}

.btn {
   padding: 14px 8px;
   border-radius: 2px;
   border: none;
   background: #38bcea;
   box-shadow: 0px 1px 9px 0px rgba(0, 0, 0, 0.2);
   color: #fff;

   font-family: Roboto;
   font-size: 20px;
   cursor: pointer;
   font-weight: 400;
   display: block;
   transition: background 0.3s;
}
.btn:hover {
   background: #0589b9;
}

.img-contain img {
   width: 100%;
   height: 100%;
   object-fit: contain;
}

.wrapper {
   max-width: 1690px;
   padding-left: 15px;
   padding-right: 15px;
   margin: 0 auto;
}

.burger {
   display: none;
   flex-wrap: wrap;
   gap: 2px;
   width: 25px;
   height: 20px;
   cursor: pointer;
   transition: all 0.3s;
}

.burger span {
   display: block;
   width: 100%;
   height: 2px;
   background-color: #000;
   border-radius: 50px;
   transition: all 0.3s;
   position: relative;
}

.burger:hover span {
   background-color: #38bcea;
}

.burger.active span:first-child {
   transform: rotate(45deg);
   transition: 0.3s;
   top: 7px;
}

.burger.active span:nth-child(2) {
   opacity: 0;
   transition: 0.3s;
}

.burger.active span:last-child {
   transform: rotate(-45deg);
   transition: 0.3s;
   top: -7px;
}

.header {
   padding-top: 28px;
   padding-bottom: 28px;
}

.header__wrapper {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.header__left,
.header__right {
   display: flex;
   align-items: center;
}

.header__logo {
   width: 58px;
   height: 52px;
}

.header__con {
   display: flex;
   align-items: center;
   gap: 20px;
}

.header__container {
   display: flex;
   align-items: center;
   margin-left: 58px;
}

.header__socials {
   display: flex;

   gap: 15px;
}

.header__link {
   display: flex;
   width: 20px;
   height: 20px;
   transition: transform 0.3s;
}

.header__link:hover {
   transform: scale(1.2);
}

.header__menu {
   margin-left: 72px;
}

.header__menu ul {
   display: flex;
   gap: 35px;
}

.header__menu ul li a {
   font-family: "Roboto", sans-serif;
   font-size: 15px;
   color: #aaa;
   transition: color 0.3s;
}

.header__menu ul li a.active,
.header__menu ul li a:hover {
   color: #525252;
}
.header__info {
   display: flex;
   margin-left: 97px;
}

.header__location {
   display: flex;
   gap: 9px;
   margin-right: 19px;
   align-items: center;
}

.header__schedule {
   display: flex;
   gap: 9px;
   margin-right: 41px;
   align-items: center;
}

.header__marker {
   display: flex;
   align-items: center;
}
.header__marker img {
   width: 24px;
   height: 24px;
   object-fit: contain;
}

.header__calendar {
   display: flex;
   align-items: center;
}
.header__calendar img {
   width: 24px;
   height: 24px;
   object-fit: contain;
}

.header__address {
   font-size: 15px;
   color: #474747;
   font-style: normal;
   width: 142px;
}

.header__hours {
   font-family: "Panton", sans-serif;
   font-size: 15px;
   color: #12354b;
}

.header__days {
   font-family: "Panton", sans-serif;
   font-size: 15px;
   color: #909090;
}

.header__contacts {
   display: flex;
   gap: 41px;
   align-items: center;
}

.header__phone {
   display: flex;
   align-items: center;
   gap: 6px;
}

.header__number {
   font-family: "Panton", sans-serif;
   font-size: 18px;
   color: #3c3c3c;
   font-weight: 700;
   transition: color 0.3s;
}

.header__number:hover {
   color: #000000;
}

.header__button {
   font-family: "Roboto", sans-serif;
   font-size: 15px;
   color: inherit;
   border-radius: 3px;
   background: #38bcea;
   border: none;
   padding: 11px 34px;
   cursor: pointer;
   transition: background 0.3s;
}
.header__button:hover {
   background: #0589b9;
}

.introduce {
   background-image: url(../img/introduce/nurse.png);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;

   position: relative;
   z-index: 10;
}

.introduce::before {
   content: "";
   position: absolute;
   width: 50%;
   height: 100%;
   top: 0;
   left: 0;
   background: linear-gradient(90deg, #fff 48.07%, rgba(255, 255, 255, 0) 100%);
   z-index: -1;
}
.introduce::after {
   content: "";
   position: absolute;
   width: 155px;
   height: 100%;
   top: 0;
   right: 0;
   background: linear-gradient(90deg, #fff 48.07%, rgba(255, 255, 255, 0) 100%);
   rotate: 180deg;
   z-index: -1;
}

.introduce__info {
   max-width: 460px;
   padding-top: 146px;
}

.introduce__pre-title {
   color: #4e4e4e;
   font-size: 20px;
   margin-bottom: 19px;
}

.introduce__top {
   margin-bottom: 26px;
}

.introduce__title {
   color: #1a3444;
   font-family: Panton;
   font-size: 48px;
   font-style: normal;
   font-weight: 700;

   line-height: 104.188%;
   max-width: 350px;
   letter-spacing: -0.6px;
}

.introduce__sub-title {
   color: #6f6f6f;

   font-size: 20px;
   margin-bottom: 37px;
}

.introduce__btn {
   padding: 18px 48px;
}

.introduce__advantages-wrapper {
   display: flex;
   justify-content: center;
   gap: 15px;
   position: relative;
   top: 77px;
}
/* .introduce__advantages-wrapper::after {
   content: "";
   position: absolute;
   width: 500px;
   height: 100%;
   top: 0;
   right: 0;
   background: rgba(255, 255, 255, 0.4);
   backdrop-filter: blur(9.5px);
   z-index: -1;
} */

.introduce__advantages-text {
   color: #4b4b4b;
   max-width: 260px;
   font-size: 18px;
}

.introduce__advantages {
   display: flex;
   align-items: flex-end;
   gap: 28px;
   padding: 28px;
   background: rgba(255, 255, 255, 0.4);
   backdrop-filter: blur(9.5px);
   min-width: 368px;
}

.introduce__advantages:last-child {
   position: relative;
   z-index: 10;
   background: transparent;
   backdrop-filter: none;
}

.introduce__advantages:last-child::after {
   content: "";
   position: absolute;
   width: 42vw;
   height: 100%;
   top: 0;
   left: 0;
   background: rgba(255, 255, 255, 0.4);
   backdrop-filter: blur(9.5px);
   z-index: -1;
}

/* .introduce__advantages-wrapper
   .introduce__advantages:first-child
   .introduce__advantages-icon {
   width: 30px;

   height: 40px;
}
.introduce__advantages-wrapper
   .introduce__advantages:first-child
   .introduce__advantages-icon
   img {
   width: 100%;

   height: 100%;
   object-fit: cover;
} */

.introduce__advantages-icon {
   width: 30px;
   height: 40px;
}
.introduce__advantages-icon img {
   width: 100%;
   height: 100%;
   object-fit: contain;
}

.introduce__advantages:first-child .introduce__advantages-icon img {
   object-fit: cover;
}

.services {
   margin-top: 159px;
}

.services__top {
   margin-bottom: 14px;
}

.services__title {
   color: #12354b;
   font-family: Panton;
   font-size: 48px;
   font-weight: 700;
   margin: 0;
}

.services__sub-title {
   color: #737373;
   max-width: 439px;
   font-size: 24px;
   font-weight: 400;
}

.services__wrapper {
   margin-top: 70px;
   margin-bottom: 70px;
}

.services__container {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   gap: 35px 40px;
}

.services__box {
   width: calc(20% - 32px);
   height: 236px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background-color: #fbfbfb;
   gap: 29px;
   transition: all 0.3s;
   position: relative;
   border-radius: 4px;
}
.services__box:hover {
   cursor: pointer;
   background-color: #38bcea;
   padding-bottom: 47px;
   filter: drop-shadow(0px 20px 50px rgba(165, 165, 165, 0.2));
}

.services__box:hover .services__text {
   color: #fff;
}
.services__box:hover .services__img svg {
   stroke: #fff;
}

.services__container:first-child .services__box:first-child .services__img svg {
   stroke: #38bcea;
}
.services__container:first-child
   .services__box:first-child:hover
   .services__img
   svg {
   stroke: white;
}
.services__text {
   color: #454545;
   font-family: Panton;
   font-size: 26px;
   font-weight: 700;
   text-align: center;
}

.services__bar {
   height: 47px;
   background-color: #fcfcfc;
   width: 100%;
   position: absolute;
   bottom: 0px;
   display: flex;
   justify-content: center;
   align-items: center;
   transition: all 0.3s;
   opacity: 0;
}

.services__box:hover .services__bar {
   cursor: pointer;
   background-color: #fcfcfc;
   opacity: 1;
}

.servicess__shell {
   display: none;
   flex-direction: column;
   gap: 18px;
   width: 100%;
}
.servicess__shell.show {
   display: flex;
}

.services__name {
   color: #000;
   font-size: 26px;
}

.services__price-container {
   display: flex;
   justify-content: space-between;
   align-items: center;
   background: #fbfbfb;
   padding-left: 38px;
}

.services__price {
   color: #000;
   font-size: 26px;
}

.services__cont {
   display: flex;
   align-items: center;
   gap: 90px;
}

.btn-serv {
   padding: 19px 28px;
   font-family: "Arial", sans-serif;
   text-align: center;
   font-size: 24px;
   font-weight: 700;
}

@media (max-width: 1730px) {
   .header__container {
      margin-left: 40px;
   }

   .header__menu {
      margin-left: 55px;
   }
}
@media (max-width: 1675px) {
   .header__info {
      display: flex;
      margin-left: 70px;
   }
}
@media (max-width: 1645px) {
   .header__menu {
      margin-left: 50px;
   }

   .header__container {
      margin-left: 35px;
   }

   .header__socials {
      gap: 16px;
   }

   .header__menu {
      margin-left: 40px;
   }

   .header__menu ul {
      gap: 30px;
   }
}
@media (max-width: 1610px) {
   .header__container {
      margin-left: 25px;
   }

   .header__socials {
      gap: 10px;
   }

   .header__menu {
      margin-left: 35px;
   }
}
@media (max-width: 1580px) {
   .header__info {
      margin-left: 50px;
   }
}
@media (max-width: 1560px) {
   .header__info {
      margin-left: 50px;
   }

   .header__info {
      margin-left: 30px;
   }

   .header__schedule {
      margin-right: 30px;
   }
}

@media (max-width: 1530px) {
   /* .header__container {
      display: flex;
      justify-content: space-between;
   }

   .header__socials,
   .header__menu {
      width: 100%;
      margin-bottom: 10px;
   } */
   .header__container .header__info {
      display: none;
   }

   .header__left {
      width: 100%;
      justify-content: space-between;
   }

   .header__container {
      flex: 1;
      justify-content: space-between;
   }
}

@media (max-width: 1450px) {
   .services__box {
      width: calc(30% - 15px);
   }
}

@media (max-width: 1100px) {
   .header__socials {
      display: none;
   }
   .introduce {
      background-image: none;
   }

   .introduce__wrapper {
      display: flex;
      flex-direction: column;
   }

   .introduce__advantages-wrapper {
      display: flex;

      padding-top: 5px;
      gap: 5px;
   }

   .introduce__info {
      padding-top: 100px;
   }

   .introduce__advantages {
      padding: 10px;
      display: flex;
      align-items: center;
      min-width: 33%;
   }

   br {
      display: none;
   }

   .introduce__advantages-icon {
      display: flex;
      align-items: flex-end;
   }

   .introduce__advantages-text {
      font-size: 17px;
   }

   .introduce__advantages-wrapper::after {
      content: none;
   }

   .services__sub-title {
      font-size: 20px;
   }
   .services__wrapper {
      margin-top: 60px;
      margin-bottom: 60px;
   }

   .services__container {
      gap: 30px;
   }
}

@media (max-width: 1020px) {
   .burger {
      display: flex;
      top: 2px;
      position: relative;
      z-index: 1001;
   }
   .header__shell {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      background: white;
      display: flex;
      flex-wrap: wrap;
      z-index: 1000;
      transform: translateX(-100%);
      transition: all 0.3s;
      padding: 80px 15px 24px;
      align-content: flex-start;
      order: 1;
   }

   .header__shell.active {
      transform: translateX(0%);
      transition: all 0.3s;
   }

   .header__menu {
      margin-left: 0;
   }

   .header__menu ul {
      gap: 30px;
      display: flex;
      flex-direction: column;
   }

   .header__menu ul li a {
      font-size: 17px;
      color: #396fda;
   }

   .header__container {
      flex: none;
   }

   .header__contacts {
      gap: 15px;
   }
}

@media (max-width: 862px) {
   .introduce__advantages-wrapper {
      flex-direction: column;
   }
}

@media (max-width: 890px) {
   .introduce__title {
      font-size: 40px;
   }

   .introduce__advantages-text {
      font-size: 18px;
   }

   .introduce__advantages {
      padding: 25px;
      display: flex;
      align-items: flex-end;
   }

   .services__box {
      width: calc(40% - -10px);
   }

   .services__bar {
      height: 42px;
   }
}
@media (max-width: 768px) {
   /* .burger {
      display: flex;
      top: 2px;
      position: relative;
      z-index: 1001;
   } */

   /* .header__shell {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      background: #d1d1d1;
      display: flex;
      flex-wrap: wrap;
      z-index: 1000;
      transform: translateX(-100%);
      transition: all 0.3s;
      padding: 80px 15px 24px;
      align-content: flex-start;
      order: 1;
   }

   .header__shell.active {
      transform: translateX(0%);
      transition: all 0.3s;
   }

   .header__menu {
      margin-left: 0;
   }

   .header__menu ul {
      gap: 30px;
      display: flex;
      flex-direction: column;
   }

   .header__menu ul li a {
      font-size: 17px;
      color: #396fda;
   } */

   .header__left {
      justify-content: space-between;
   }

   /* .header__logo {
      display: none;
   } */

   .introduce::before,
   .introduce::after {
      content: none;
   }

   .introduce__wrapper {
      display: block;
   }

   .introduce__title {
      font-size: 37px;
   }

   .introduce__pre-title {
      font-size: 18px;
      margin-bottom: 16px;
   }

   .introduce__sub-title {
      font-size: 18px;
      margin-bottom: 35px;
   }

   .introduce__info {
      max-width: none;
      display: block;
      padding-top: 50px;
   }

   .introduce__advantages-wrapper {
      padding-top: 0;
   }

   .introduce__advantages-text {
      font-size: 20px;
      /* width: 100%; */
   }

   .introduce__advantages {
      backdrop-filter: none;
      padding: 16px 16px 16px 0;
      /* max-width: 368px; */
      min-width: initial;
   }

   .services__title {
      font-size: 37px;
   }

   .services__sub-title {
      font-size: 18px;
   }

   .services__container {
      gap: 26px;
   }

   .services__box {
      width: 280px;
      height: 225px;
   }

   .services__text {
      font-size: 24px;
   }

   .services__name {
      font-size: 22px;
   }

   .services__price {
      font-size: 22px;
   }

   .btn-serv {
      font-size: 22px;
      padding: 16px 24px;
   }
}

@media (max-width: 654px) {
   .services__box {
      width: 100%;
   }
   .services__container {
      gap: 25px;
   }

   .services__box {
      height: 205px;
   }

   .services__name {
      font-size: 20px;
   }

   .services__price {
      font-size: 20px;
   }

   .btn-serv {
      font-size: 20px;
      padding: 10px 22px;
   }

   .servicess__shell,
   .services__cont {
      flex-direction: column;
   }

   .services__price-container {
      flex-direction: column;
      padding-left: 0;
   }

   .services__cont {
      gap: 25px;
   }
}

@media (max-width: 600px) {
   .introduce__title {
      font-size: 35px;
   }

   .introduce__advantages-text {
      font-size: 18px;
   }
   .introduce__advantages {
      gap: 20px;
   }

   .services__title {
      font-size: 35px;
   }
}

@media (max-width: 530px) {
   .header__con {
      width: 100%;
      justify-content: space-between;
   }
   /* .header__contacts {
      display: none;
   } */

   .header {
      padding-top: 10px;
      padding-bottom: 15px;
   }

   .introduce__info {
      padding-top: 35px;
   }

   .header__logo {
      display: none;
   }

   .header__contacts .header__phone {
      display: none;
   }

   .header__button {
      padding: 10px 20px;
   }
}

@media (max-width: 426px) {
   .header {
      padding-top: 10px;
      padding-bottom: 15px;
   }
   .introduce__title {
      font-size: 30px;
   }

   .introduce__info {
      padding-top: 50px;
   }

   .introduce__pre-title {
      font-size: 17px;
      margin-bottom: 16px;
   }

   .introduce__sub-title {
      font-size: 17px;
      margin-bottom: 35px;
   }

   .introduce__advantages {
      gap: 10px;
   }

   .introduce__advantages-text {
      font-size: 16px;
      max-width: 100%;
   }

   .introduce__advantages {
      padding: 10px 10px 10px 0;
   }

   .btn-small {
      font-size: 16px;
      padding: 10px 6px;
      width: 100%;
   }

   .services__text {
      font-size: 21px;
   }

   .services__box {
      height: 170px;
   }

   .services__wrapper {
      margin-top: 40px;
      margin-bottom: 40px;
   }

   .services__title {
      font-size: 30px;
   }

   .services__sub-title {
      font-size: 17px;
   }

   .services__box {
      gap: 15px;
   }
}

@media (max-width: 376px) {
   .introduce__pre-title {
      font-size: 15px;
      margin-bottom: 12px;
   }
   .introduce__title {
      font-size: 27px;
   }

   .introduce__sub-title {
      font-size: 15px;
      margin-bottom: 30px;
   }

   .services__title {
      font-size: 27px;
   }

   .services__sub-title {
      font-size: 15px;
   }

   .services__box {
      height: 150px;
   }

   .services__container {
      gap: 18px;
   }

   .services__name {
      font-size: 18px;
   }

   .services__price {
      font-size: 18px;
   }

   .btn-serv {
      font-size: 18px;
      padding: 8px 22px;
   }

   .servicess__shell {
      gap: 15px;
   }

   .services__box {
      gap: 10px;
      height: 165px;
   }
}
